.wrapper {
  font-family: Roboto, sans-serif;
  color: white;
}
@media (min-width: 631px) {
  .wrapper {
    height: 100%;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px auto 50px;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer"; */
  }

  .wrapper *:nth-child(1) {
    grid-area: header;
  }



  .wrapper *:nth-child(3) {
    grid-area: footer;
  }

}