.fixture-list-item__results p,
a {
  display: inline-block;
  width: 150px;
  padding: 8px;
  margin: 0;
  line-height: 1.5;
  font-size: 0.9em;
  background-color: var(--secondary-colour);
  color: white;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid transparent;
  text-decoration: none;
  animation: fadeIn 500ms;
}
.fixture-list-item__results p:hover,
.fixture-list-item__results p:focus,
a:hover,
a:focus {
  background-color: var(--primary-colour);
}
.fixture-list-item__results p {
  position: relative;
  overflow: hidden;
  cursor: default;
  margin-right: 0.75em;
}
.fixture-list-item__results p::after {
  content: "Reveal Score...";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 7px;
  cursor: default;
  background-color: var(--primary-colour);
  border: 1px dashed white;
}
.fixture-list-item__results p:hover::after {
  background-color: var(--secondary-colour);
  animation: slideLeft 1s;
  animation-timing-function: cubic-bezier(1, 0.005, 1, 0.505);
  animation-fill-mode: forwards;
}
.fixture-list-item__results {
  display: flex;
  margin-top: 0.5em;
}
@media (max-width: 520px) {
  .fixture-list-item__results {
    flex-direction: column;
  }
}
